/* Container principal do to do */
.container_main {
  max-width: 600px; 
  max-height: 800px;
  margin: 0 auto; 
  padding: 20px; 
  text-align: center; 
  border: 3px solid;
}

/* Inclui o padding e a borda no cálculo da largura e altura total de um elemento */
* {
  box-sizing: border-box;
}

/* Remove margens e padding da lista */
ul {
  margin: 0;
  padding: 0;
}

/* Estiliza os itens da lista */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  user-select: none; 
  list-style-type: none;
}

/* Define uma cor diferente para os itens ímpares da lista (efeito zebra) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Cor de fundo mais escura ao passar o mouse */
ul li:hover {
  background: #ddd;
}

/* Quando clicado, adiciona uma cor de fundo e risca o texto */
ul li.checked {
  background: #888888;
  color: #fff;
  text-decoration: line-through;
}

/* Adiciona um "check" quando o item é clicado */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Estiliza o botão de fechar */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Estiliza o cabeçalho */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Limpa os floats após o cabeçalho */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Estiliza o campo de entrada */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Estiliza o botão "Adicionar" */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.scrollable-list {
  max-height: 400px; 
  overflow-y: auto;
  border: 1px solid #cccccc; 
  padding: 10px; 
  margin-top: 10px; 
  margin-bottom: 10px;
}

.fade-out {
  transition: opacity 0.7s ease-out; 
  opacity: 0; 
}